.sidebar {
  width: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-45%);
  margin-left: 20px;
  border: 4px solid #e5c57b;
  border-radius: 20px;
  padding: 5px;
  z-index: 100;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  gap: 30px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.menuItem:hover {
  transform: scale(1.1);
}

.menuItem span {
  font-family: 'Neuton', serif;
  font-size: 24px;
  font-weight: 500;
  color: #e5c57b;
}

.icon {
  font-size: 24px;
  margin-right: 15px;
  color: #e5c57b;
} 
